.title {
	color: #553D2B;
	font-size: 60px;
}

.center {
	text-align: center;

}
.centered {
	margin: 0 auto;
}

body {
	background: url("http://wallpaperlayer.com/img/2015/6/simple-vintage-background-6645-6923-hd-wallpapers.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: 'papyrus';
	background-color: #F4F0E7;
	overflow-x: hidden;
}

button {
	font-family: 'papyrus';
	font-size: 15px;
}

.email {
	color: #553D2B;
	font-size: 40px;

}

.help {
	font-size: 20px;
	color: #553D2B;
}

.content {
	float: right;
	width: 50%;
	margin: 10px auto;
	padding: 10px;
}


.welcome {
	font-size: 40px;
	color: #553D2B;
}

.nav-bar {
	right: 0;
	top: 200px;
	position: absolute;
}

.nav-table {
	border-spacing: 0 10px;
}

.nav-table button {
	padding: 5px;
	border-top: 2px solid #553D2B;
	border-left: 2px solid #553D2B;
	border-bottom: 2px solid #553D2B;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	background-color: transparent;
	width: 100%;
	outline: 0;
}

.nav-table button:hover {
	border-top: 2px solid #EF346D;
	border-left: 2px solid #EF346D;
	border-bottom: 2px solid #EF346D;
	color: #EF346D;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #553D2B;
}

a:hover {
	text-decoration: underline;
}

.nav-table a:hover {
	color: #EF346D;
	text-decoration: none;
}

.answer {
	border-spacing: 100px 0;
}

.white-box {
	border: 2px solid #553D2B;
	padding: 20px;
	border-radius: 10px;
	height: 150px;
	width: 70%;
}

.white-box:hover {
	border: 2px solid #553D2B;
}