.title {
	color: #553D2B;
	font-size: 60px;
}

.center {
	text-align: center;
}

body {
	background: url("http://wallpaperlayer.com/img/2015/6/simple-vintage-background-6645-6923-hd-wallpapers.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: papyrus;
	background-color: #F4F0E7;
}

.email {
	color: #553D2B;
	font-size: 40px;

}

.help {
	font-size: 30px;
	color: #B79881;
}

.content {
	float: right;
	width: 50%;
	margin: 10px auto;
	padding: 10px;
}


.welcome {
	font-size: 40px;
	color: #B79881;
}

.nav-bar {
	right: 0;
	top: 200px;
	position: absolute;
}

.nav-table td {
	padding: 5px;
	background-color: #FDA8B4;
	border-radius: 5px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #553D2B;
}

.nav-table a:hover {
	color: white;
}